AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
PenaltyReturnTypeOnItsOwnLine: 10000
ConstructorInitializerIndentWidth: 4
IndentWidth: 4
IndentExternBlock: NoIndent
TabWidth: 4
UseTab: Never
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:        true
  AfterClass:            true
  AfterControlStatement: true
  AfterEnum:             true
  AfterExternBlock:      true
  AfterFunction:         true
  AfterNamespace:        true
  AfterStruct:           true
  AfterUnion:            true
  BeforeCatch:           true
  BeforeElse:            true
  SplitEmptyFunction:    true
  SplitEmptyRecord:      true
  SplitEmptyNamespace:   true
ColumnLimit: 120
ContinuationIndentWidth: 4
IncludeBlocks: Preserve
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: true
