Source: sail
Priority: optional
Maintainer: Dmitry Baryshev <dmitrymq@gmail.com>
Build-Depends: debhelper (>=9), build-essential, libgif-dev, libjpeg-dev, libpng-dev, libtiff-dev, libavif-dev, libwebp-dev
Standards-Version: 3.9.6
Vcs-Browser: https://github.com/smoked-herring/sail
Vcs-Git: https://github.com/smoked-herring/sail.git

Package: libsail-common0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides common low-level SAIL libraries.

Package: libsail-common-dev
Section: libdevel
Architecture: any
Depends: libsail-common0 (= ${binary:Version}), ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides common low-level SAIL development headers and libraries.

Package: libsail-manip0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides image manipulation functions.

Package: libsail-manip-dev
Section: libdevel
Architecture: any
Depends: libsail-manip0 (= ${binary:Version}), ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides image manipulation development headers and libraries.

Package: sail-codecs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides low-level SAIL image codecs.

Package: libsail0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sail-codecs (= ${binary:Version})
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides high-level SAIL client libraries.

Package: libsail-dev
Section: libdevel
Architecture: any
Depends: libsail0 (= ${binary:Version}), ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides high-level SAIL development headers and libraries.

Package: libsail-c++0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides high-level SAIL client libraries.

Package: libsail-c++-dev
Section: libdevel
Architecture: any
Depends: libsail-c++0 (= ${binary:Version}), ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides high-level SAIL C++ development headers and libraries.

Package: libsail-progs
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SAIL is a fast and lightweight cross-platform image decoding
 and encoding library providing multi-leveled APIs from one-liners
 to complex use-cases with custom I/O sources.
 .
 This package provides SAIL command line tools.
