*.exe
*.app
obj
CMakeLists.txt.user
*.pro.user*
*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
/.qmake.cache
/.qmake.stash
